.App {
  max-height: 100vh;
  padding: 2vh 3vw;
}

.Header {
  height: 16vh;
}

.map-container {
  width: 70%;
  margin: 0 auto;
  position: relative;
}

.Map img {
  width: 100%;
}

.location-pins {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.Pin {
  position: absolute;
}

.Pin * {
  display: inline-block;
}

.Pin img {
  width: 50px;
}

.Pin h5 {
  color: #333;
  font-size: 30px;
  line-height: 100%;
}

.sidebar {
  visibility: hidden;
  position: absolute;
  width: 25vw;
  top: 0;
  right: -25vw;
  height: 100vh;
  background: white;
  transition: all .8s ease;
}

.sidebar.open {
  visibility: visible;
  right: 0;
}

